@model SalesViewModel

@* <div   class="container col-md-4"   id="cont-category-product">  
 *@
    <!--CategoryandActivity-->
<div>

        <partial name="_Categories" model="@Model" />

</div>
<div>

        <partial name="_Products"  model="@Model" />

</div>
@* </div> *@